<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
import CustomerDialog from "./CustomerDialog.vue";

const customerStore = useCustomerStore();

onMounted(async () => {
  await customerStore.getCustomers();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-btn @click="customerStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>

        <th>Age</th>
        <th>Telephone</th>
        <th>Gender</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of customerStore.customers" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>

        <td>{{ item.age }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <v-btn class="mr-5" @click="customerStore.editCustomer(item)"
            >Edit</v-btn
          >
          <v-btn @click="customerStore.daleteCustomer(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
